<app-header-registro />
<div class="container-tarjetas grid grid-cols-1 lg:grid-cols-2 justify-items-center gap-4 max-w-4xl mx-auto mb-20">
    <app-tarjeta-rol 
        icono="client"
        titulo="Cliente"
        subtitulo="Regístrate para encontrar entrenadores, seguir tu progreso y alcanzar tus objetivos fitness."
        ruta="/register/client"
    />
    <app-tarjeta-rol 
        icono="trainer"
        titulo="Entrenador"
        subtitulo="Regístrate como entrenador para gestionar clientes, crear rutinas y hacer crecer tu negocio."
        ruta="/register/trainer"
    />
</div>

<div class="container-login flex flex-col items-center justify-center text-center">
    <p>Ya tienes cuenta, <a href="/login" class="text-green-600">Inicia sesion</a></p>
</div>