<div class="modal flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-8 w-full max-w-5xl max-h-full">
        <div class="relative bg-white rounded-lg shadow-sm p-8">
            <div class="titulo-modal flex items-center justify-between">
                <div class="titulo-crear">
                    <p class="font-bold text-[18px]">Crear Rutina</p>
                    <p class="text-[14px] text-gray-600">Completa los detalles de tu rutina y agrega los ejercicios</p>
                </div>
                <div (click)="cerrarModal()" class="cruz-cerrar cursor-pointer hover:bg-gray-200 p-2 rounded-2xl">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M18 6 6 18"/>
                        <path d="m6 6 12 12"/>
                    </svg>
                </div>
            </div>

            <div class="formulario mt-6 flex flex-col gap-4">
                <form [formGroup]="crearRuitinaForm">
                    <div class="nombre-duracion grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="nombre">
                            <div class="mb-5">
                                <label for="base-input" class="block mb-2 text-sm font-medium">Nombre de la rutina</label>
                                <input formControlName="nombreRutina" type="text" id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            </div>
                        </div>
                        
                        <div class="duracion">
                            <div class="mb-5">
                                <label for="base-input" class="block mb-2 text-sm font-medium ">Duración (minutos)</label>
                                <input formControlName="duracionMins" type="text" id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            </div>
                        </div>
                    </div>

                    <div class="descripcion mb-5">
                        <label for="base-input" class="block mb-2 text-sm font-medium">Descripción</label>
                        <textarea formControlName="descripcion" id="base-input" rows="4" class="resize-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"></textarea>
                    </div>

                    <div class="dificultad-categoria grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="dificultad flex flex-col gap-4">
                            <label class="block text-sm font-medium">Dificultad</label>
                            <fieldset>
                                <div class="flex items-center mb-4">
                                    <input formControlName="nivel" id="dificultad-1" type="radio" value="PRINCIPIANTE" class="w-4 h-4 border-gray-300 text-black appearance-none cursor-pointer" checked>
                                    <label class="block ms-2  text-sm font-medium text-gray-900">
                                    Principiante
                                    </label>
                                </div>
                                <div class="flex items-center mb-4">
                                    <input formControlName="nivel" id="dificultad-2" type="radio" value="INTERMEDIO" class="w-4 h-4 border-gray-300 text-black appearance-none cursor-pointer">
                                    <label class="block ms-2  text-sm font-medium text-gray-900">
                                    Intermedio
                                    </label>
                                </div>
                                <div class="flex items-center mb-4">
                                    <input formControlName="nivel" id="dificultad-3" type="radio" value="AVANZADO" class="w-4 h-4 border-gray-300 text-black appearance-none cursor-pointer">
                                    <label class="block ms-2  text-sm font-medium text-gray-900">
                                    Avanzado
                                    </label>
                                </div>
                            </fieldset>
                        </div>

                        <div class="categoria flex flex-col gap-4">
                            <label class="block text-sm font-medium">Categoría</label>
                            <fieldset>
                                <div class="flex items-center mb-4">
                                    <input formControlName="categoria" id="categoria-1" type="radio" name="categoria" value="CARDIO" class="w-4 h-4 border-gray-300 text-black appearance-none cursor-pointer" checked>
                                    <label class="block ms-2  text-sm font-medium text-gray-900">
                                    Cardio
                                    </label>
                                </div>
                                <div class="flex items-center mb-4">
                                    <input formControlName="categoria" id="categoria-2" type="radio" name="categoria" value="FUERZA" class="w-4 h-4 border-gray-300 text-black appearance-none cursor-pointer">
                                    <label class="block ms-2  text-sm font-medium text-gray-900">
                                    Fuerza
                                    </label>
                                </div>
                                <div class="flex items-center mb-4">
                                    <input formControlName="categoria" id="categoria-3" type="radio" name="categoria" value="FLEXIBILIDAD" class="w-4 h-4 border-gray-300 text-black appearance-none cursor-pointer">
                                    <label class="block ms-2  text-sm font-medium text-gray-900">
                                    Flexibilidad
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>

            <div class="mini-formulario-ejercicios mt-6 flex flex-col gap-4">
                <p class="font-bold text-[18px]">Ejercicios</p>

                <div class="mini-formulario flex flex-col gap-4 p-4 border border-gray-300 rounded-lg">
                    <form [formGroup]="crearEjercicioForm">
                        <div class="nombre-series grid grid-cols-1 md:grid-cols-2 gap-4">
                            <div class="nombre-ejercicio">
                                <label for="ejercicio-nombre" class="block mb-2 text-sm font-medium">Nombre del ejercicio</label>
                                <input formControlName="nombre" type="text" id="ejercicio-nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            </div>
                            
                            <div class="series">
                                <label for="ejercicio-series" class="block mb-2 text-sm font-medium">Series</label>
                                <input formControlName="series" type="text" id="ejercicio-series" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            </div>
                        </div>

                        <div class="descripcion-ejercicio mt-4">
                            <label for="ejercicio-descripcion" class="block mb-2 text-sm font-medium">Descripción del ejercicio</label>
                            <textarea formControlName="descripcionEjercicio" id="ejercicio-descripcion" rows="3" class="resize-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"></textarea>
                        </div>

                        <div class="repeticiones grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
                            <div class="repeticiones-min">
                                <label for="ejercicio-repeticiones-min" class="block mb-2 text-sm font-medium">Repeticiones mínimas</label>
                                <input formControlName="repeticionesMin" type="text" id="ejercicio-repeticiones-min" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            </div>
                            <div class="repeticiones-max">
                                <label for="ejercicio-repeticiones-max" class="block mb-2 text-sm font-medium">Repeticiones máximas</label>
                                <input formControlName="repecionesMax" type="text" id="ejercicio-repeticiones-max" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            </div>
                        </div>

                        <button (click)="agregarEjercicio()" class="w-full mt-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2 hover:bg-gray-100 cursor-pointer">+  Agregar Ejercicio</button>
                    </form>
                </div>
            </div>

            @if(ejercicios.length > 0) {
                <div class="lista-ejercicios flex flex-col gap-4 p-4 border border-gray-300 rounded-lg mt-4">
                    <p class="font-bold text-[18px]">Ejercicios Agregados ({{ejercicios.length}})</p>

                    @for (ejercicio of ejercicios; track $index) {
                        <div class="ejercicio bg-gray-50 rounded-lg p-4 flex items-center justify-between">
                            <div class="info-ejercicio">
                                <p class="font-bold">{{$index+1}}. {{ejercicio.nombre}}</p>
                                <p class="text-gray-600 text-[14px]">{{ejercicio.series}} series x {{ejercicio.repeticionesMin}} - {{ejercicio.repecionesMax}} reps</p>
                            </div>

                            <div (click)="eliminarEjercicio($index)" class="eliminar-ejercicio">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6 cursor-pointer hover:text-red-600">
                                    <path d="M18 6 6 18"/>
                                    <path d="m6 6 12 12"/>
                                </svg>
                            </div>
                        </div>
                    }
                </div>
            }

            <div class="botones-finalizar flex gap-4 justify-end mt-6">
                <button (click)="cerrarModal()" class="mt-4 px-4 py-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2 hover:bg-gray-100 cursor-pointer">Cancelar</button>
                <button (click)="crearRutina()" class="mt-4 px-4 py-2 bg-blue-600 text-white text-sm rounded-lg p-2 hover:bg-blue-700 cursor-pointer">Crear Rutina</button>
            </div>
        </div>
    </div>
</div>