<div class="container-pagina flex flex-col items-center gap-4">
    
    <div class="titulo-pagina flex flex-col justify-center items-center mt-10 mb-5">
        <h1 class="text-3xl font-bold text-gray-900">Planes para entrenadores</h1>
        <p class="text-gray-700">Elige el plan que mejor se adapte a tus necesidades</p>
    </div>

    <div class="container-tarjetas mt-8 grid grid-cols-1 lg:grid-cols-2 justify-items-center gap-16 max-w-4xl mx-auto mb-20">
        <app-tarjeta-suscripcion 
            nombrePlan="Plan Gratis"
            subtituloPlan="Perfecto para comenzar"
            precioPlan="0€"
            clientes="Hasta 5 clientes"
            gestionRutinas="Gestion basica de rutinas"
            calendario="Calendario básico"
            perfilDestacado="Perfil basico entrenador"
            textoBoton="Comenzar Gratis"
        />
        <app-tarjeta-suscripcion 
            nombrePlan="Plan Premium"
            subtituloPlan="Para entrenadores profesionales"
            precioPlan="25€"
            clientes="Clientes ilimitados"
            gestionRutinas="Gestion avanzada de rutinas"
            calendario="Calendario comlpleto con recordatorios" 
            perfilDestacado="Perfil de entrenador destacado"
            textoBoton="Suscribirse Ahora"
        />
    </div>

    <div class="eleccion-suscripcion flex justify-center items-center gap-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
            viewBox="0 0 24 24" fill="white" stroke="green" 
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
            class="lucide lucide-zap">
        <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"/>
        </svg>
        <p class="text-gray-700 text-center">Puedes cambiar de plan en cualquier momento o cancelar tu suscripción</p>
    </div>
</div>